.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #fff;
}

.status {
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}

.new-game {
    width: 100%;
}