/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(94, 94, 94);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: white;
}